*.o
*.ho
*.hi
*.log
*.exe
dist/
_build/
.cabal-sandbox
cabal.sandbox.config
*.swp
*~
*.msi
*.wixobj
*.wixpdb
*.rc
*.hp
*.ps
*.aux
.stack-work/
target

# Project specific
fds-utilities/test-out
fds-utilities/test-data
test-data
test-out
