<?xml version='1.0' encoding='UTF-8'?>
<?define ProductVersion = "1.16.0"?>
<?define ProductUpgradeCode = "18709979-23a5-45d7-a7f3-1b3fedb0f653"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='FDS Tools' Id='*' UpgradeCode="$(var.ProductUpgradeCode)" Language='1033' Version='$(var.ProductVersion)' Manufacturer='Smoke Cloud'>
        <Package Id='*' InstallScope='perUser' InstallPrivileges='limited' Keywords='Installer' Description="FDS Tools Installer" Comments='Installs the executable and provides QuickChart in context menu on .smv files.' Manufacturer='Jake' InstallerVersion='200' Platform='x64' Languages='1033' Compressed='yes' />
        <!-- <Condition Message="You need to be an administrator to install this product.">Privileged</Condition> -->
        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' />
        <Property Id='DiskPrompt' Value="FDS Tools Suite Installer" />
        <Upgrade Id="$(var.ProductUpgradeCode)">
            <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
            <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
        </Upgrade>
        <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>
        <Property Id="ALLUSERS" Secure="yes" Value="2" />
        <Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />
        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='Fireng' Name='Fireng'>
                    <Directory Id='INSTALLDIR' Name='FDS Tools'>
                        <Component Id='FuteScript' Guid='020e5228-fa89-48ff-add5-8d39c5d70f9b' Win64="yes">
                            <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="yes" Part="last" Action="set" System="no" />
                            <File Id='FuteScriptCMD' Name='fute.cmd' Source='scripts/fute.cmd' KeyPath='yes'></File>
                        </Component>
                        <Directory Id='BINDIR' Name='bin'>
                            <Component Id='FuteComponent' Guid='1ab03b30-4375-4d2d-9dcc-56d139bc6943' Win64="yes">
                                <File Id='FuteEXE' Name='fute-rs.exe' Source='target/release/fute-rs.exe'></File>
                                <RegistryKey Id='SMVFileTypeRegOther' Root='HKMU' Key='Software\Classes\SystemFileAssociations\.smv\Shell\Smoke Cloud - Chart\Command' ForceDeleteOnUninstall="yes">
                                    <RegistryValue Type='string' Value="&quot;[BINDIR]\fute-rs.exe&quot; chart &quot;%1&quot;" KeyPath='yes' />
                                </RegistryKey>
                                <RegistryKey Id='SMVFileTypeRegOtherChartAndVerify' Root='HKMU' Key='Software\Classes\SystemFileAssociations\.smv\Shell\Smoke Cloud - Verify\Command' ForceDeleteOnUninstall="yes">
                                    <RegistryValue Type='string' Value="&quot;[BINDIR]\fute-rs.exe&quot; verify &quot;%1&quot;" />
                                </RegistryKey>
                                <RegistryKey Id='FDSFileTypeRegOtherVerify' Root='HKMU' Key='Software\Classes\SystemFileAssociations\.fds\Shell\Smoke Cloud - Verify Input\Command' ForceDeleteOnUninstall="yes">
                                    <RegistryValue Type='string' Value="&quot;[BINDIR]\fute-rs.exe&quot; verify-input &quot;%1&quot;" />
                                </RegistryKey>
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate" />
        </InstallExecuteSequence>
        <Feature Id='Fute' Level='1'>
            <ComponentRef Id='FuteComponent' />
            <ComponentRef Id='FuteScript' />
        </Feature>
    </Product>
</Wix>